
*, *::after, *::before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

:root {

  --bg-body: #{map-get($app-color, body )};
	--bg-container: #{map-get($app-color, container )};
	--title-color: #{map-get($app-color, title )};
	--content-color: #{map-get($app-color, content )};
	--auxiliary-color: #{map-get($app-color, auxiliary )};
	--bg-overlay-section: #{map-get($util-color, bg-overlay-section-dark )};
  --bg-overlay-image: #{map-get($util-color, bg-overlay-image )};
	--border-color: #{map-get($util-color, border )};
	--box-shadow: none;

	--main-font: #{map-get($type-font, main-font )};
	--secondary-font: #{map-get($type-font, secondary-font )};

	--primary-color: #{map-get($button-color, primary )};
	--primary-alt-color: #{map-get($button-color, primary-alt )};

	--success-200: #{map-get($accent-color, success-200 )};
	--success-400: #{map-get($accent-color, success-400 )};
	--success-500: #{map-get($accent-color, success-500 )};
	--success-700: #{map-get($accent-color, success-700 )};
	--warning-200: #{map-get($accent-color, warning-200 )};
	--warning-400: #{map-get($accent-color, warning-400 )};
	--warning-500: #{map-get($accent-color, warning-500 )};
	--warning-700: #{map-get($accent-color, warning-700 )};
	--error-200: #{map-get($accent-color, error-200 )};
	--error-400: #{map-get($accent-color, error-400 )};
	--error-500: #{map-get($accent-color, error-500 )};
	--error-700: #{map-get($accent-color, error-700 )};

	--z-normal: 1;
	--z-fixed: 100;

}

html {
	font-size: #{map-get($web-fz, normal )};
	font-family: var(--main-font);
	line-height: 1.6;
}

body {
	font-size: inherit;
	font-family: inherit;
	line-height: inherit;
	background: var(--bg-body);
}

h1 {
	font-size: #{map-get($mobile-fz, title )};
  @media screen and (min-width: 768px) {
    font-size: #{map-get($web-fz, title )};
  }
}

h2 {
	font-size: #{map-get($mobile-fz, subtitle )};
	@media screen and (min-width: 768px) {
		font-size: #{map-get($web-fz, subtitle )};
	}
}

h3, p {
	font-size: #{map-get($mobile-fz, content )};
	@media screen and (min-width: 768px) {
		font-size: #{map-get($web-fz, content )};
	}
}

h4 {
	font-size: #{map-get($mobile-fz, normal )};
	@media screen and (min-width: 768px) {
		font-size: #{map-get($web-fz, normal )};
	}
}

h5, small {
	font-size: #{map-get($mobile-fz, small )};
	@media screen and (min-width: 768px) {
		font-size: #{map-get($web-fz, small )};
	}
}

h6 {
	font-size: #{map-get($mobile-fz, smaller )};
	@media screen and (min-width: 768px) {
		font-size: #{map-get($web-fz, smaller )};
	}
}

h1, h2 {
	font-weight: 700;
	line-height: 1.3;
}

h3, h4, h5, h6, p, small, span {
	font-weight: 400;
	font-family: var(--secondary-font);
}

a:hover {
	text-decoration: none;
}

li {
	list-style: none;
	text-decoration: none;
}