$app-color: (
	body: #001A29,
	container: #132F40,
	title: #FBFDFE,
	content: #BBCAD2,
	auxiliary: #9CA9AE
);

$button-color: (
	primary: #0080CA,
	primary-alt: #006098,
);

$accent-color: (
	success-200: #4DF6DA,
	success-400: #0CEDC7,
	success-500: #0AC9A9,
	success-700: #08977F,
	warning-200: #EFCE5B,
	warning-400: #E8BA19,
	warning-500: #C9A114,
	warning-700: #97790F,
	error-200: #EF845B,
	error-400: #E85319,
	error-500: #C94714,
	error-700: #97350F
);

$util-color: (
	border: #9CA9AE
);

.title-color {
	color: var(--title-color);
}

.content-color {
	color: var(--content-color);
}

.auxiliary-color {
	color: var(--auxiliary-color);
}

.primary-color {
	color: var(--primary-color);
	font-weight: bold;
}