@use "config";

@use "base/base";

@use "components/ui/card";
@use "components/ui/navbar";
@use "components/ui/sidebar";

@use "screens/cart";
@use "screens/checkout";
@use "screens/home";
@use "screens/notfound";